//
// About
// --------------------------------------------------

.login-view {
  display: flex;
  align-items: center;
  height: 100%;
  color: $soft-text-color;
  padding: 0 40px;
  font-size: 11px;
  line-height: 19px;

  .toolbar.window-draggable {
    .frameless & {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
    }
  }


  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }

}
