//
// Tab pane
// --------------------------------------------------

.tab-pane {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: {
    top: $space-min;
    bottom: $space-min;
  }
  .tag {
    display: flex;
    align-items: center;
    height: $line-height-large;
    padding: 0 $default-padding-horizontal 0 $list-tree-padding-left;
  }

  .active {
    background: $tag-list-active-bg;

    .icon-tag:not([class*="color"]) {
      .color {
        color: $tag-list-active-bg;
      }

      .border {
        color: $tag-list-active-border;
      }
    }

    &:focus {
      background: $tag-list-focus-bg;
      color: $tag-list-focus-color;

      .icon-tag {
        &:not([class*="color"]) {
          .color {
            color: $tag-list-focus-bg;
          }
        }

        .border {
          color: $tag-list-focus-color;
        }
      }
    }
  }
}
